body {
    font-family: "Afacad Flux", sans-serif;
    font-weight: 400;
    background: #f5f6fc;
    color: #484848;
}

#main {
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 260px;
    width: calc(100% - 278px);
    padding: 9px;
}

.DeleteButton {
    float: left;
    margin-right: 8px;
}
.divider {
    display: block;
    clear: both;
}

#menu {
    display: block;
    padding: 12px 20px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    overflow: auto;
    width: 220px;
    height: 100%;
    background: #ffffff;
}
#menu li {
    margin: 14px 0px;
    font-weight: 500;
}
#menu .submenu li {
    margin: 6px 0px;
    font-weight: 400;
}

.toggleMenu i {
    font-size: 9px;
    margin-left: 4px;
}

#menu h1 {
    padding: 0px 11px;
}
#menu h1 strong {
    font-weight: 900;
}
#menu h1, footer h3 {
    margin-block-start: 4px;
    margin-block-end: 4px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
#menu li {
    position: relative;
    padding: 11px;
}
#menu li:hover {
    background-color: rgb(158 158 158 / 20%);
}
#menu li .expand-menu-icon {
    position: absolute;
    right: 0px;
    top: 10px;
}

form label:before {
    content: "";
    height: 10px;
    display: block;
    clear: both;
}

form button {
    background: #7c69d1;
    color: #ffffff;
    font-weight: 600;
    display: block;
    padding: 11px;
    border: none;
    box-shadow: none;
    margin-top: 19px;
}

form input, form select {
    background: cornsilk;
    border: none;
    border-bottom: 2px solid #7c69d1;
    padding: 12px;
    margin-left: 5px;
}

a, h1, #menu li, footer h3 {color: #7c69d1;}
h1 img {fill: #7c69d1;}

#menu li {
    cursor: pointer;
}
/* Initially hide all submenus */
.submenu {
    display: none;
}
.submenu.show {
    display: block;
}

#menu ul ul {
    margin-left: 20px;
}

.page-content {
    padding: 19px 24px;
}
.page_container {
    height: auto !important;
}

.main-section-container {
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    height: 306px;
    margin-bottom: 11px;
}

#menu ul li a, .toggleMenu, article section .box .box-header {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
#menu ul li a span, #menu h1 img, .toggleMenu span {
    margin-right: 4px;
}
header ul {list-style: none; padding-inline-start: 0px;}
a {text-decoration: none;}

/* Much smaller devices */
@media screen and (max-width: 1290px) {
    .forty {margin-bottom: 11px; width: calc(100% - 14px) !important; height: auto !important;}
    .main-section-container {height: auto !important;}
}

/* Smaller PC screens and smaller */
@media screen and (max-width: 1290px) {
    .box .box-header {display: block !important;}
    article section .box .box-header-label, .main-section-container {display: block !important; clear: both;}
    .main-section-container {min-height: 306px; height: 306px;}
}

article section {
    background: #ffffff;
    color: #484848;
    display: inline-block;
}
article section h4 {
    margin-block-start: 0em;
    margin-block-end: 0.7em;
}
article section .box-container {
    padding: 19px;
}
article section .box {
    width: calc(50% - 28px);
    position: relative;
    display: inline-block;
    border-radius: 12px;
    padding: 11px;
    margin: 2px;
}
article section .box .box-header-label {
    font-size: 26px;
    font-weight: 500;
}
article section .box .sec-icon {
    background: #ffffff;
    color: #000000;
    border-radius: 50%;
    padding: 8px;
    margin-right: 7px;
}
article section .box .number {
    font-size: 39px;
    font-weight: 700;
    display: block;
    clear: both;
}

.pending-label {
    background: orchid;
    padding: 3px;
    border-radius: 6px;
    color: #ffffff;
    position: absolute;
    right: 8px;
    top: 21px;
    font-size: 11px;
}

.fullwidth {
    width: calc(100% - 24px);
    clear: both;
    display: block;
}

.forty {
    width: calc(50% - 14px);
    height: 100%;
    margin-right: 14px;
}
.purple {
    background: #f5f0ff;
}
.green {
    background: #eef9fc;
}
.lime {
    background: #fcfbee;
}
.amber {
    background: #fceeef;
}

.wave {
    animation: wave-animation 2s infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

footer {
    background: #ffffff;
    margin: 0px 11px 20px 0px;
    width: calc(100% - 15px);
    display: block;
    clear: both;
}

.footer-container {
    padding: 12px 20px;
}